/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.sidebar, .navbar, body, html, .nav-links, .search-box, .links
  background-color #1D1E28 !important

.search-box input
  color #1D1E28 !important

code
  background-color #282c34 !important